:root {
	--main-bg: #e9ecf0ff;
	--color-bg: #111112eb;
}

body {
	font-family: 'Roboto', sans-serif;
	background: var(--main-bg);
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.container {
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
	font-family: 'Roboto', sans-serif;
}
